/.checkstyle
/old.rar
*.properties
/bin
/.classpath
/.classpath
/build.properties
/default.properties
/proguard.cfg
/.settings/org.eclipse.jdt.core.prefs
/.settings/org.eclipse.jdt.ui.prefs
/gen/org/openuat/android/BuildConfig.java
/gen/org/openuat/android/R.java
/gen
/.classpath
/build.properties
/default.properties
/proguard.cfg